<!--{template admin/header}-->

<h3>内容管理系统(CMS)</h3>
<div class="mainmsg">框架易扩展,稳定且具有超强大负载能力,轻松管理、发布、编辑网站内容，无需任何编程知识。</div>
<h3>网上商城系统</h3>
<div class="mainmsg">基于内存的分布式缓存系统、分布式文件系统、分布式数据存储系统可以支持站点拥有服务于百万甚至千万级庞大用户群的能力。</div>
<h3>社交网络(SNS)</h3>
<div class="mainmsg">一键升级、一键换模板皮肤、一键安装插件。</div>
<h3>oAuth协议</h3>
<div class="mainmsg">oAuth协议为用户资源的授权提供了一个安全的、开放而又简易的标准。</div>
<h3>会员管理系统</h3>
<div class="mainmsg">大型会员管理系统,具体会员管理,储值管理,积分管量,短信管理等,支持全国连锁.提供详尽的会员消费形为分析,根据客户的喜好提供针对性的解决方案。</div>
<h3>oa办公系统</h3>
<div class="mainmsg">易用,好用,适用”的oa办公系统,300万精英每天同时在线.高效,便捷致远oa办公系统,中国最大的协同管理软件专业厂商!市场占有率第一!</div>
<div class="mainmsg" style="display:none">
  <center>
    <img src="" id="statistics" lang="{BUILDURL admin/welcome/statistics}" align="middle" style="text-align:center" />
  </center>
</div>
<div class="mainmsg" style="display:none">
  <div class=line></div>
  手册设计： <A href="http://www.discuz.net/space.php?uid=80629" target="_blank">Ning 'Monkey' Hou</A>, <A href="http://www.discuz.net/space.php?uid=15104" target="_blank">Xiongfei 'Redstone' Zhao</A>, <A href="http://www.discuz.net/space.php?uid=122246" target="_blank">Min 'Heyond' Huang</A>, <br />
  界面设计： <A href="http://www.discuz.net/space.php?uid=362790" target="_blank">Defeng 'Dfox' Xu</A> <br />
  手册版本：
  2008-12-12, 请访问 <a href="http://www.discuz.net/thread-879237-1-1.html" target="_blank">http://www.discuz.net/thread-879237-1-1.html</a> 获取最新版本 <br />
  适用版本：
  UCenter 1.5.0 Release 20081031 及以上版本 <br />
  官方论坛： <a href="http://www.discuz.net/forum-155-1.html" target="_blank">http://www.discuz.net/forum-155-1.html</a> <br />
</div>
<!--{template admin/footer}-->
<script src="{BASE_JAVASCRIPT}welcome.js"></script>
