<!--{template admin/header}-->

<div id="search">
  <form id="J_search_form" action="{BUILDURL admin/menus/index}">
    <ul>
      <li>
        <input id="J_date_1" type="text" class="f-text" value="" autocomplete="off" name="name" />
      </li>
      <li>
        <label class="tit"></label>
        <input id="J_search_btn" type="submit" class="f-btn" value="" />
      </li>
    </ul>
  </form>
</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0"class="msgtable">
<thead>
  <tr>
    <td height="21" colspan="7"><strong>菜单管理</strong>&nbsp;&nbsp;<a href="{BUILDURL admin/menus/add}">添加菜单</a></td>
  </tr>
  <tr> 
    <td width="14%" >菜单url</td>
    <td width="14%" >菜单名</td>
    <td width="15%" >分类</td>
    <td width="16%" >创建时间</td>
    <td width="18%" >更新时间</td>
    <td width="18%" >操作</td>
  </tr>
  </thead>
  <!--{loop $datalist $k $v}-->
  <tr> 
    <td >{$v['url']}</td>
    <td >{$v['subject']}</td>
    <td >{$roles[$v['pid']]['name']}</td>
    <td>{echo date('Y-m-d H:i:s',$v['datetime'])}</td>
    <td>{echo date('Y-m-d H:i:s',$v['updatetime'])}</td>
    <td ><a  href="{BUILDURL admin/menus/edit/$v['id']}">修改</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a   href="{BUILDURL admin/menus/delete/$v['id']}" lang="delete" onclick="return deletedata('{BUILDURL admin/menus/delete/$v['id']/ajax}','{BUILDURL admin/menus}')">删除</a></td>
  </tr>
  <!--{/loop}-->
</table>
<br/>
<br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="clear:both"  >
  <tr>
    <td align="center" ><center>
        {$pagination}
      </center></td>
  </tr>
</table>
<br/>
<br>
<!--{template admin/footer}-->
