<!--{template admin/header}--> 
<link rel="stylesheet" href="{BASE_URL}themes/{THEMES_PATH}/style/jiathis_share.css" type="text/css" media="all" />
<div class="mainbox">
  <table>
    <tbody>
      <tr id="jiathis_style_32x32">
        <td valign="top"><a href="#"><span class="jtico jtico_tsina"></span></a></td>
        <td valign="top"><span class="jtico jtico_qzone"></span></td>
        <td valign="top"><span class="jtico jtico_renren"></span></td>
        <td valign="top"><span class="jtico jtico_t163"></span></td>
        <td valign="top"><span class="jtico jtico_baidu"></span></td>
        <td valign="top"><span class="jtico jtico_tsohu"></span></td>
        <td valign="top"><span class="jtico jtico_kaixin001"></span></td>
      </tr>
    </tbody>
  </table>
</div>
<!--{template admin/footer}-->
