<!--{template admin/header}-->

<h3><strong>用户中心</strong>&nbsp;&nbsp;<a href="{BUILDURL admin/appuser}">用户列表</a>&nbsp;&nbsp;<a href="{BUILDURL admin/appuser/add}">添加用户</a></h3>
<form method="post" name="appuser_do" action="{BUILDURL admin/appuser/dopost}" enctype="multipart/form-data">
  <input id="id" name="id" value="{$datalist['id']}" type="hidden">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="msgtable">
    <tbody>
      <tr>
        <th width="12%">用户名 ：</th>
        <td width="88%"><label>
            <input name="username" type="text" class="ipt w300" id="username" value="{$datalist['username']}" size="50" maxlength="300" >
          </label></td>
      </tr>
      <tr>
        <th width="12%">密&nbsp;&nbsp;码 ：</th>
        <td width="88%"><label>
            <input name="password" type="text" id="password" value="" size="50" class="ipt w300" maxlength="300">
          </label></td>
      </tr>
      <tr>
        <th width="12%">邮&nbsp;&nbsp;箱 ：</th>
        <td width="88%"><label>
            <input name="email" type="text" id="email" value="{$datalist['email']}" size="50" class="ipt w300" vdt="email" maxlength="300">
          </label></td>
      </tr>
      <tr>
        <th width="12%">激&nbsp;&nbsp;活 ：</th>
        <td width="88%">{$datalist['radio_activated']}</td>
      </tr>
      <tr>
        <th width="12%">禁&nbsp;&nbsp;止 ：</th>
        <td width="88%">{$datalist['radio_banned']}</td>
      </tr>
      <tr>
        <th width="12%">角&nbsp;&nbsp;色 ：</th>
        <td width="88%">{$datalist['select_roles']}</td>
      </tr>
      <tr>
        <th width="12%">禁止原因 ：</th>
        <td width="88%"><textarea cols="30" rows="12" class="textarea w200" id="ban_reason" name="ban_reason">{$datalist['ban_reason']}</textarea></td>
      </tr>
    </tbody>
  </table>
  <br>
  <center>
    <input type="submit" class="submit w80" value="提 交">
  </center>
</form>
<!--{template admin/footer}-->
<script type="text/javascript" src="{BASE_JAVASCRIPT}input.js"></script>
