<!--{template admin/user_auth/header}-->
<style>
.serLoginRight ul.serInput li span.sertext { letter-spacing:0.5em; }
</style>
<div class="container">
  <form action="{BUILDURL admin/auth/login}" method="post" target="_top"  onsubmit="return checkform(this);" id="loginform" name="loginform">
    <h2 style="display:none">
      <!--{CONFIG website_name}-->
      后台管理</h2>
    <div class="serContBox">
      <div class="serLoginLeft"><img src="{BASE_IMAGES}serimgl.jpg"/></div>
      <div class="serLoginRight">
        <h3>用户登录</h3>
        <ul class="serInput">
          <li> <span class="sertext">账  号:</span> <span class="serinbox">
            <input type="text" name="username" class="sertxt" id="username" value="">
            </span>
            <div class="clear"></div>
          </li>
          <li> <span class="sertext">密  码:</span> <span class="serinbox">
            <input type="password" name="password" class="sertxt" id="password" value="">
            </span>
            <div class="clear"></div>
          </li>
          <!--{if $show_captcha}-->
          <li> <span class="sertext">验证码:</span> <span class="serinbox" style="position:relative">
            <input type="text" name="imgcode" class="sertxt" id="imgcode" value="" style="width:80px;"  onfocus="document.getElementById('showcode').style.display='';" />
            <div  id="showcode" CLASS="" style="position:absolute;top:0px;left:100px;display:none; cursor:pointer"> <img src="{BUILDURL api/authcode/show}" onclick="changcode(this);" alt="点击刷新" title="点击刷新" lang="{BUILDURL api/authcode/show}"/> </div>
            </span>
            <div class="clear"></div>
          </li>
          <!--{/if}-->
          <li> <span class="serbtl">
            <input type="hidden" name="dosubmit" value="1" />
            <input type="submit" name="submit" value="登&nbsp;录" class="serbtn" tabindex="3">
            </span> <span class="serbtr"> <a href="{BUILDURL admin/auth/forgotpassword}" style="line-height:35px;">忘记密码</a> </span>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<!--{template admin/user_auth/footer}-->

