<!--{template admin/user_auth/header}-->
<div class="container">
  <form action="{BUILDURL admin/auth/resetpassword/$user_id/$new_pass_key}" method="post" target="_top"  onsubmit="return checkform(this);" id="loginform" name="loginform">
    <h2 style="display:none"><!--{CONFIG website_name}-->更新密码</h2>
    <div class="serContBox">
      <div class="serLoginLeft"><img src="{BASE_STYLES}admin/images/serimgl.jpg"/></div>
      <div class="serLoginRight">
        <h3>更改密码</h3>
        <ul class="serInput">
          <li> <span class="sertext">新密码:</span> <span class="serinbox">
            <input type="password" name="new_password" class="sertxt" id="new_password" value="">
            </span>
            <div class="clear"></div>
          </li>
          <li> <span class="sertext">确认新密码:</span> <span class="serinbox">
            <input type="password" name="confirm_new_password" class="sertxt" id="confirm_new_password" value="">
            </span>
            <div class="clear"></div>
          </li>
          <li> <span class="sertext">验证码:</span> <span class="serinbox" style="position:relative">
            <input type="text" name="imgcode" class="sertxt" id="imgcode" value="" style="width:80px;"  onfocus="document.getElementById('showcode').style.display='';" />
            <div  id="showcode" CLASS="" style="position:absolute;top:0px;left:100px;display:none; cursor:pointer"> <img src="{BUILDURL api/authcode/show}" onclick="changcode(this);" alt="点击刷新" title="点击刷新" lang="{BUILDURL api/authcode/show}"/> </div>
            </span>
            <div class="clear"></div>
          </li>
          <li> <span class="serbtl">
            <input type="hidden" name="dosubmit" value="1" />
            <input type="submit" name="submit" value="登&nbsp;录" class="serbtn" tabindex="3">
            </span> <span class="serbtr">
            <a href="{BUILDURL admin/auth/register}" style="line-height:35px;">注&nbsp;册</a>
            </span>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<!--{template admin/user_auth/footer}-->
